.idea/
.phpintel/
*.sublime-project
node_modules/
/vendor/
/storage/framework/sessions
/storage/framework/log
/storage/logs
/storage/framework/views
/bootstrap/cache
/public/storage/
/public/modules/
/public/themes/
/Modules/*/Assets/
/Themes/*/assets/
/tags
mix-manifest.json
npm-debug.log
lerna-debug.log
yarn-error.log
*.map
.env
