.logo {
  font-size: 3rem;
}

.logo path {
  color: white;
}

.icon {
  font-size: 2em;
}

.icon path {
  color: white;
}

.icon:hover {
  color: #012326;
}

.icon:hover path {
  color: #04d99d;
}

.dropdown img {
  height: 100%;
  max-height: 3rem;
}

.dropdown .dropdown-toggle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.dropdown .dropdown-toggle .profile-img-block {
  border-radius: 3rem;
  min-width: 7rem;
  background-color: black;
  max-height: 3rem;
}

.dropdown .dropdown-toggle::after {
  margin-left: 1rem;
}

.dropdown-menu {
  background-color: #04bf8ae7;
  right: 7%;
  left: 5%;
}

.dropdown-menu a {
  color: white !important;
}

.dropdown-menu a:hover {
  color: #04d99d !important;
  background-color: #0f8c69;
}

.dropdown-menu.w-85vw.mt-4 {
  left: auto;
}

.breaks {
  width: 100%;
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* making vertical centerign of all children */
}

.breaks::before, .breaks::after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  /* the first digint is 'flex-grow: 1', helps elemet to occupy all free space */
  border-bottom: solid 0.15rem #fff;
  top: 50%;
}

.breaks::before {
  margin-right: 1rem;
}

.breaks::after {
  margin-left: 1rem;
}

.breaks h4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  /* the first digint is flex-grow: 0 */
  padding: 0 15px 0 15px;
  color: #fff;
}

.breaks-dark {
  width: 100%;
  padding: 0.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* making vertical centerign of all children */
}

.breaks-dark::before, .breaks-dark::after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  /* the first digint is 'flex-grow: 1', helps elemet to occupy all free space */
  top: 50%;
  background-color: black;
  height: 1px;
}

.breaks-dark::before {
  margin-right: 1rem;
}

.breaks-dark::after {
  margin-left: 1rem;
}

.breaks-dark h4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  /* the first digint is flex-grow: 0 */
  padding: 0 15px 0 15px;
  color: #fff;
}

.card {
  justify-items: center;
  width: 20rem;
  height: auto;
  margin: 0.5rem;
  background-color: #0f8c69;
  border-radius: 1.5rem;
  text-align: center;
  -webkit-box-shadow: 7px 12px 16px #1f1f1fe1;
          box-shadow: 7px 12px 16px #1f1f1fe1;
}

.card .card-img-top {
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.card .card-img-top:hover {
  /* IE 9 */
  -webkit-transform: scale(1.3);
  /* Safari 3-8 */
  transform: scale(1.3);
}

.card .card-body {
  padding: 0;
  inline-size: 100%;
  text-align: -webkit-center;
  letter-spacing: 0.1rem;
}

.card .card-body .card-title {
  font-size: 2rem;
  inline-size: -webkit-fit-content;
  inline-size: -moz-fit-content;
  inline-size: fit-content;
  font-weight: 700;
}

.card .card-body .card-text {
  font-size: 1.1rem;
  font-weight: lighter;
}

.card .card-body .cart-data {
  font-size: 1.5rem;
  font-weight: 400;
}

.card .card-body .price {
  font-size: 2rem;
  font-weight: 600;
}

.add-to-cart a {
  text-decoration: none;
  color: white;
}

.fa-trash {
  font-size: 4rem;
  padding: 1rem;
}

.fa-trash path {
  color: #db4437;
}

.black *,
.modal-title * {
  color: black;
}

.bg-white {
  background-color: white;
}

.bg-green {
  background-color: #04bf8a;
}

.path-gold path {
  color: gold;
}

.path-light-green path {
  color: #04d99d;
}

.path-green path {
  color: #04bf8a;
}

.path-dark-green path {
  color: #0f8c69;
}

.path-red path {
  color: red;
}

.swiper-slide {
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  inline-size: -webkit-max-content;
  inline-size: -moz-max-content;
  inline-size: max-content;
}

.row {
  margin: 0;
}

.btn {
  margin: 0.5rem 0;
  font-size: 1.5rem;
  font-weight: 700;
  height: 3.5rem;
  border-radius: 4em;
  border: none;
  -webkit-box-shadow: 10px 10px 10px #00000041;
          box-shadow: 10px 10px 10px #00000041;
  inline-size: -webkit-max-content;
  inline-size: -moz-max-content;
  inline-size: max-content;
}

.btn .fa-shopping-cart {
  -webkit-animation: cart 2s ease-in forwards;
          animation: cart 2s ease-in forwards;
}

.btn .fa-square {
  -webkit-animation: box 2s ease-in forwards;
          animation: box 2s ease-in forwards;
}

.btn span.add-to-cart {
  -webkit-animation: addcart 2s ease-in forwards;
          animation: addcart 2s ease-in forwards;
}

.btn span.added {
  -webkit-animation: added 2s ease-in forwards;
          animation: added 2s ease-in forwards;
}

.btn-primary {
  background-color: #04d99d;
}

.btn-secondary {
  background-color: white;
  color: #04d99d;
}

.btn-dark {
  border-radius: 0;
  background-color: #012326;
}

.btn-light {
  border-radius: 0;
  color: #04d99d;
}

.bg-dark {
  background-color: blue;
}

.w-48 {
  width: 48%;
}

.w-30 {
  width: 30%;
}

.w-90 {
  width: 90%;
}

.w-85vw {
  width: 85vw;
}

.left-0 {
  left: 0px;
}

* {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Raleway", sans-serif;
  color: white;
}

* h1 {
  font-size: 4rem;
  inline-size: auto;
  -webkit-filter: drop-shadow(4px 4px 6px #1f1f1fe1);
          filter: drop-shadow(4px 4px 6px #1f1f1fe1);
}

* h2 {
  font-size: 5.5rem;
  font-weight: 800;
  text-shadow: 0px 0px 10px #00000041;
}

* h5 {
  font-size: 2.5rem;
  font-weight: 8 00;
  text-shadow: 0px 0px 10px #00000041;
}

* h6 {
  font-size: 90%;
  font-weight: 700;
}

* p {
  font-family: "BioRhyme", serif;
  font-size: 1.1em;
  font-weight: 100;
  margin: 0px;
}

* a {
  text-decoration: none;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#04d99d), to(#012326));
  background-image: linear-gradient(#04d99d, #012326);
}

.header {
  position: initial;
  background-color: #0f8c69;
  padding: 0 auto;
  margin: 0 auto;
}

.header .navbar-brand {
  font-size: 0.7rem;
}

.header .navbar-collapse .navbar-nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar-collapse .navbar-nav .language {
  font-size: 0.8rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header .navbar-collapse .navbar-nav li {
  padding: 0 0.7em;
  text-align: center;
}

.header .navbar-collapse .navbar-nav .profile-img {
  width: 7rem;
}

.header .navbar-collapse .navbar-nav .profile-img img {
  width: 100%;
  height: 100%;
}

.header .nav-link {
  font-size: 1.2rem;
  color: white !important;
}

.header .nav-link:hover {
  color: #04d99d !important;
}

.header .searchbar {
  margin-bottom: auto;
  margin-top: auto;
  background-color: #2a403c;
  height: 50px;
  border-radius: 30px;
  padding: 5px;
}

.header .search_input {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px;
  -webkit-transition: width 0.4s linear;
  transition: width 0.4s linear;
}

.header .searchbar:hover > .search_input {
  padding: 0 5px;
  width: 20rem;
  caret-color: red;
  -webkit-transition: width 0.4s linear;
  transition: width 0.4s linear;
}

.header .searchbar:hover > .search_icon {
  background: white;
  color: #e74c3c;
}

.header .searchbar:hover > .search_icon path {
  color: #012326;
}

.header .search_icon {
  width: 40px;
  height: 40px;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}

footer .part-one {
  text-align: center;
  color: white;
}

footer a svg {
  font-size: 2rem !important;
}

footer a svg path {
  color: #04d99d;
}

/* Home page */
.banner .slider-text {
  font-size: 1rem;
}

.banner .banner-swiper {
  padding-top: 5rem;
  height: 100%;
  margin: 0;
  font-size: 1.5rem;
}

.banner .banner-swiper .slider-img img {
  -webkit-filter: drop-shadow(4px 4px 6px #1f1f1fe1);
          filter: drop-shadow(4px 4px 6px #1f1f1fe1);
  max-width: 100%;
  max-height: 100%;
}

.banner .banner-swiper .swiper-button-next,
.banner .banner-swiper .swiper-button-prev,
.banner .banner-swiper .swiper-pagination,
.banner .banner-swiper .swiper-pagination-total {
  color: white;
  width: 4rem;
  left: auto;
  right: 50px;
  text-shadow: 7px 7px 10px #1f1f1fe1;
}

.banner .banner-swiper .swiper-button-next {
  font-weight: 900;
}

.banner .banner-swiper .swiper-button-prev {
  right: 100px;
  font-weight: 600;
}

.banner .banner-swiper .swiper-pagination-current {
  color: #04d99d;
}

.banner .banner-swiper .swiper-pagination {
  font-size: 2.5rem;
  inline-size: -webkit-fit-content;
  inline-size: -moz-fit-content;
  inline-size: fit-content;
  font-weight: 500;
}

.promote {
  background-color: #2a403c;
  width: 100%;
  max-height: 75vh;
  text-align: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.promote .promote-item {
  width: 100%;
  max-height: 100%;
}

.promote .promote-item img {
  padding: 5px 10px;
  max-width: -webkit-fill-available;
  max-height: -webkit-fill-available;
}

.License .card {
  width: 100%;
}

.License .License-swiper .swiper-button-next,
.License .License-swiper .swiper-button-prev,
.License .License-swiper .swiper-pagination,
.License .License-swiper .swiper-pagination-total {
  color: white;
  width: 5rem;
  text-shadow: 7px 7px 10px #1f1f1fe1;
}

.License .License-swiper .swiper-button-next {
  font-weight: 900;
}

.License .License-swiper .swiper-button-prev {
  font-weight: 600;
}

.License .License-swiper .swiper-pagination-current {
  color: #04d99d;
}

.License .License-swiper .swiper-pagination {
  font-size: 2.5rem;
  inline-size: -webkit-fit-content;
  inline-size: -moz-fit-content;
  inline-size: fit-content;
  font-weight: 500;
}

.product-items {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.accessories img {
  width: 100%;
  max-height: 40vh;
}

/* product page */
.card-img {
  width: 8rem;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

ul li a {
  display: contents;
}

.current-price {
  font-size: 3rem;
}

.big-description iframe {
  width: 100%;
  min-height: 70vh;
}

.feedback path {
  color: black;
}

div#carousel-thumb1 {
  text-align-last: center;
}

.text-decor {
  border-left: 2px solid;
  padding-left: 10px;
  margin-left: 10px;
}

#upper-part {
  margin-top: 5rem;
}

.link-black a {
  color: black;
}

.link-black a:hover {
  color: #0056b3;
}

.link-black a .active {
  color: #0056b3;
}

.category {
  top: 1px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

/* cart page */
table tbody {
  width: 50%;
}

table tbody tr {
  background-color: #0000 !important;
}

table tbody th {
  text-align: center;
}

table tbody td {
  vertical-align: middle;
}

table tbody td .product-img {
  text-align: center;
}

table tbody td img {
  text-align: center;
  width: 10rem;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  margin: 0 auto;
}

table tbody td img:hover {
  /* IE 9 */
  -webkit-transform: scale(2);
  /* Safari 3-8 */
  transform: scale(2);
}

table tbody li {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

table tbody .count {
  text-align: center;
}

table #dtBasicExample_filter input {
  color: #012326;
}

table .paginate_button {
  color: #04d99d !important;
}

.dataTables_length,
.dataTables_paginate {
  display: none !important;
}

.modal {
  position: fixed;
}

.modal .heading {
  font-size: 1.5rem;
  font-weight: 600;
  color: #012326;
}

.modal .modal-body .fa-heart-broken path {
  color: red;
}

.modal .modal-footer {
  width: 100%;
}

.modal .modal-footer .btn {
  width: 49%;
}

#dtBasicExample_filter {
  float: left;
}

#dtBasicExample_filter label {
  text-align: left;
}

#dtBasicExample_filter label input {
  color: white;
  border: 0;
  outline: 0;
  background: #2a403c;
  width: 100%;
  margin-left: 2px;
  padding-left: 15px;
  caret-color: transparent;
  line-height: 40px;
  border-radius: 30px;
}

.fa-pen {
  font-size: 4rem;
  border-radius: 100%;
  padding: 1rem;
}

.pointer {
  cursor: pointer;
  font-weight: 300;
  font-size: 1rem;
}

.big-img {
  width: 100%;
  max-height: 20vh;
}

#payment-tab,
#user-information-tab {
  font-size: 1.5rem;
}

.fa-map-marker-alt {
  font-size: 2rem;
  padding: 0;
}

.fa-trash,
.fa-plus,
.fa-minus,
.fa-camera,
.fa-pen {
  font-size: 3.4rem;
  border-radius: 100%;
  padding: 0.9rem;
  height: auto;
}

.fa-trash:hover,
.fa-plus:hover,
.fa-minus:hover,
.fa-camera:hover,
.fa-pen:hover {
  background-color: rgba(116, 116, 116, 0.404);
}

.nav-link {
  color: white;
}

.nav-link .active {
  background-color: #04bf8a;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #04bf8a;
}

.list-group-item {
  background-color: #04d99d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-group-item a {
  color: white;
}
/*# sourceMappingURL=style.css.map */