///////////////////////////// imports //////////////////////////////
///////////// fonts /////////////
// @import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@200;300;700&display=swap");
// @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
///////////////////////////// variables /////////////////////////////
///////////// colors //////////
$first-color: #04d99d;
$sec-color: #04bf8a;
$third-color: #0f8c69;
$forth-color: #2a403c;
$fifth-color: #012326;
$primary-btn: #0f8c69;
$success-btn: #00722e;
$warning-btn: #c20000;
$shadow-color: #00000041;
$bg-dark: #61616141;
$header-color: #0f8c69;
$dark-shadow-color: #1f1f1fe1;
$google-color: #db4437;
///////////////// fonts /////////////////
$main-font: "Raleway",
sans-serif;
///////////////////////////// global items /////////////////////////////
.logo {
    font-size: 3rem;
    path {
        color: white;
    }
}

.icon {
    font-size: 2em;
    path {
        color: white;
    }
    &:hover {
        color: $fifth-color;
        path {
            color: $first-color;
        }
    }
}

.dropdown {
    img {
        height: 100%;
        max-height: 3rem;
    }
    .dropdown-toggle {
        display: inline-flex;
        .profile-img-block {
            border-radius: 3rem;
            min-width: 7rem;
            background-color: black;
            max-height: 3rem;
        }
        &::after {
            margin-left: 1rem;
        }
    }
}

.dropdown-menu {
    background-color: #04bf8ae7;
    right: 7%;
    left: 5%;
    a {
        color: white !important;
        &:hover {
            color: $first-color !important;
            background-color: $third-color;
        }
    }
}

.dropdown-menu.w-85vw.mt-4 {
    left: auto;
}

.breaks {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    /* making vertical centerign of all children */
    &::before,
    &::after {
        content: "";
        flex: 1 1 auto;
        /* the first digint is 'flex-grow: 1', helps elemet to occupy all free space */
        border-bottom: solid 0.15rem #fff;
        top: 50%;
    }
    &::before {
        margin-right: 1rem;
    }
    &::after {
        margin-left: 1rem;
    }
    h4 {
        flex: 0 1 auto;
        /* the first digint is flex-grow: 0 */
        padding: 0 15px 0 15px;
        color: #fff;
    }
}

.breaks-dark {
    width: 100%;
    padding: 0.5rem 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    /* making vertical centerign of all children */
    &::before,
    &::after {
        content: "";
        flex: 1 1 auto;
        /* the first digint is 'flex-grow: 1', helps elemet to occupy all free space */
        // border-bottom: solid 0.15rem #fff;
        top: 50%;
        background-color: black;
        height: 1px;
    }
    &::before {
        margin-right: 1rem;
    }
    &::after {
        margin-left: 1rem;
    }
    h4 {
        flex: 0 1 auto;
        /* the first digint is flex-grow: 0 */
        padding: 0 15px 0 15px;
        color: #fff;
    }
}

.card {
    justify-items: center;
    width: 20rem;
    // max-width: 30vw;
    height: auto;
    // max-height: 40vh;
    margin: 0.5rem;
    background-color: $third-color;
    border-radius: 1.5rem;
    text-align: center;
    box-shadow: 7px 12px 16px $dark-shadow-color;
    .card-img-top {
        transition: transform 0.6s;
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
        &:hover {
            -ms-transform: scale(1.3);
            /* IE 9 */
            -webkit-transform: scale(1.3);
            /* Safari 3-8 */
            transform: scale(1.3);
        }
    }
    .card-body {
        padding: 0;
        inline-size: 100%;
        text-align: -webkit-center;
        letter-spacing: 0.1rem;
        .card-title {
            font-size: 2rem;
            inline-size: fit-content;
            font-weight: 700;
        }
        .card-text {
            font-size: 1.1rem;
            font-weight: lighter;
        }
        .cart-data {
            font-size: 1.5rem;
            font-weight: 400;
        }
        .price {
            font-size: 2rem;
            font-weight: 600;
        }
    }
}

.add-to-cart {
    a {
        text-decoration: none;
        color: white;
    }
}

.fa-trash {
    font-size: 4rem;
    padding: 1rem;
    path {
        color: #db4437;
    }
}

//    global color //
// fonts
.black,
.modal-title {
    * {
        color: black;
    }
}

// backgroud
.bg-white {
    background-color: rgb(255, 255, 255);
}

.bg-green {
    background-color: $sec-color;
}

// color for SVG
.path-gold {
    path {
        color: gold;
    }
}

.path-light-green {
    path {
        color: $first-color;
    }
}

.path-green {
    path {
        color: $sec-color;
    }
}

.path-dark-green {
    path {
        color: $third-color;
    }
}

.path-red {
    path {
        color: red;
    }
}

.swiper-slide {
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    inline-size: max-content;
}

// }
//////////// override of bootstrap
.row {
    margin: 0;
}

.btn {
    margin: 0.5rem 0;
    font-size: 1.5rem;
    font-weight: 700;
    height: 3.5rem;
    border-radius: 4em;
    border: none;
    box-shadow: 10px 10px 10px $shadow-color;
    inline-size: max-content;
    .fa-shopping-cart {
        animation: cart 2s ease-in forwards;
    }
    .fa-square {
        animation: box 2s ease-in forwards;
    }
    span.add-to-cart {
        animation: addcart 2s ease-in forwards;
    }
    span.added {
        animation: added 2s ease-in forwards;
    }
}

.btn-primary {
    // max-height: 4rem;
    background-color: $first-color;
}

.btn-secondary {
    background-color: white;
    color: $first-color;
}

.btn-dark {
    border-radius: 0;
    background-color: $fifth-color;
}

.btn-light {
    border-radius: 0;
    // background-color: ;
    color: $first-color;
}

.bg-dark {
    background-color: blue;
}

.w-48 {
    width: 48%;
}

.w-30 {
    width: 30%;
}

.w-90 {
    width: 90%;
}

.w-85vw {
    width: 85vw;
}

.left-0 {
    left: 0px;
}

///////////////////////////// initialize /////////////////////////////
* {
    align-items: center;
    font-family: $main-font;
    color: white;
    // not used until now
    h1 {
        font-size: 4rem;
        inline-size: auto;
        filter: drop-shadow(4px 4px 6px $dark-shadow-color);
    }
    // for the header of banner/slider
    h2 {
        font-size: 5.5rem;
        font-weight: 800;
        text-shadow: 0px 0px 10px $shadow-color;
    }
    // for the header title
    // h3{ b}
    // for the header of normal card
    // h4{}
    // for the header groupe
    h5 {
        font-size: 2.5rem;
        font-weight: 8 00;
        text-shadow: 0px 0px 10px $shadow-color;
    }
    h6 {
        font-size: 90%;
        font-weight: 700;
    }
    // for the description of products
    p {
        font-family: "BioRhyme", serif;
        font-size: 1.1em;
        font-weight: 100;
        margin: 0px;
    }
    a {
        text-decoration: none;
    }
}

/////////////////// body //////////////////////////
body {
    background-image: linear-gradient($first-color, $fifth-color);
    // overflow-x: hidden;
}

.header {
    position: initial;
    background-color: $header-color;
    padding: 0 auto;
    margin: 0 auto;
    .navbar-brand {
        font-size: 0.7rem;
    }
    .navbar-collapse {
        .navbar-nav {
            align-items: center;
            .language {
                font-size: 0.8rem;
                display: inline-flex;
            }
            li {
                padding: 0 0.7em;
                text-align: center;
            }
            .profile-img {
                width: 7rem;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .nav-link {
        font-size: 1.2rem;
        color: white !important;
        &:hover {
            color: $first-color !important;
        }
    }
    .searchbar {
        margin-bottom: auto;
        margin-top: auto;
        background-color: $forth-color;
        height: 50px;
        border-radius: 30px;
        padding: 5px;
    }
    .search_input {
        color: white;
        border: 0;
        outline: 0;
        background: none;
        width: 0;
        caret-color: transparent;
        line-height: 40px;
        transition: width 0.4s linear;
    }
    .searchbar:hover>.search_input {
        padding: 0 5px;
        width: 20rem;
        caret-color: red;
        transition: width 0.4s linear;
    }
    .searchbar:hover>.search_icon {
        background: white;
        color: #e74c3c;
        path {
            color: $fifth-color;
        }
    }
    .search_icon {
        width: 40px;
        height: 40px;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: white;
        text-decoration: none;
    }
}

footer {
    .part-one {
        text-align: center;
        color: white;
    }
    a {
        svg {
            font-size: 2rem !important;
            path {
                color: $first-color;
            }
        }
    }
}


/* Home page */

// home-banner
.banner {
    .slider-text {
        font-size: 1rem;
    }
    .banner-swiper {
        padding-top: 5rem;
        // height: 80vh;
        height: 100%;
        margin: 0;
        font-size: 1.5rem;
        .slider-img {
            img {
                filter: drop-shadow(4px 4px 6px $dark-shadow-color);
                max-width: 100%;
                max-height: 100%;
            }
        }
        .swiper-button-next,
        .swiper-button-prev,
        .swiper-pagination,
        .swiper-pagination-total {
            color: white;
            width: 4rem;
            left: auto;
            right: 50px;
            text-shadow: 7px 7px 10px $dark-shadow-color;
        }
        .swiper-button-next {
            font-weight: 900;
        }
        .swiper-button-prev {
            right: 100px;
            font-weight: 600;
        }
        .swiper-pagination-current {
            color: $first-color;
        }
        .swiper-pagination {
            font-size: 2.5rem;
            inline-size: fit-content;
            font-weight: 500;
        }
    }
    // a.btn{
    //   *{
    //     width: 49%;
    //   }
    // }
}

// promote
.promote {
    // position: absolute;
    background-color: $forth-color;
    width: 100%;
    max-height: 75vh;
    text-align: center;
    align-items: baseline;
    .promote-item {
        width: 100%;
        max-height: 100%;
        img {
            padding: 5px 10px;
            max-width: -webkit-fill-available;
            max-height: -webkit-fill-available;
        }
    }
}

.License {
    .card {
        width: 100%;
    }
    .License-swiper {
        .swiper-button-next,
        .swiper-button-prev,
        .swiper-pagination,
        .swiper-pagination-total {
            color: white;
            width: 5rem;
            // left: auto;
            // right: 50px;
            text-shadow: 7px 7px 10px $dark-shadow-color;
        }
        .swiper-button-next {
            font-weight: 900;
        }
        .swiper-button-prev {
            // right: 100px;
            font-weight: 600;
        }
        .swiper-pagination-current {
            color: $first-color;
        }
        .swiper-pagination {
            font-size: 2.5rem;
            inline-size: fit-content;
            font-weight: 500;
        }
    }
}

.product-items {
    justify-content: center;
}

.accessories {
    img {
        width: 100%;
        max-height: 40vh;
    }
}


/* product page */

.card-img {
    width: 8rem;
}

ul {
    padding: 0;
    li {
        list-style: none;
        display: inline-flex;
        a {
            display: contents;
        }
    }
}

.current-price {
    font-size: 3rem;
}

.big-description {
    iframe {
        width: 100%;
        min-height: 70vh;
    }
}

.feedback {
    path {
        color: black;
    }
}

div#carousel-thumb1 {
    text-align-last: center;
}

.text-decor {
    border-left: 2px solid;
    padding-left: 10px;
    margin-left: 10px;
}

////   products page
#upper-part {
    margin-top: 5rem;
}

.link-black {
    a {
        color: black;
        &:hover {
            color: #0056b3;
        }
        .active {
            color: #0056b3;
        }
    }
}

.category {
    top: 1px;
    align-self: start;
    // margin-top: auto;
}


/* cart page */

table {
    tbody {
        width: 50%;
        tr {
            background-color: #0000 !important;
        }
        th {
            text-align: center;
        }
        td {
            vertical-align: middle;
            .product-img {
                text-align: center;
            }
            img {
                text-align: center;
                width: 10rem;
                transition: transform 0.6s;
                margin: 0 auto;
                &:hover {
                    -ms-transform: scale(2);
                    /* IE 9 */
                    -webkit-transform: scale(2);
                    /* Safari 3-8 */
                    transform: scale(2);
                }
            }
        }
        li {
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
        .count {
            text-align: center;
        }
    }
    #dtBasicExample_filter {
        input {
            color: $fifth-color;
        }
    }
    .paginate_button {
        color: $first-color !important;
    }
}

.dataTables_length,
.dataTables_paginate {
    display: none !important;
}

.modal {
    position: fixed;
    // top: 50%;
    // transform: translateY(-25%);
    .heading {
        font-size: 1.5rem;
        font-weight: 600;
        color: $fifth-color;
    }
    .modal-body {
        // font-size: 5rem;
        .fa-heart-broken {
            path {
                color: red;
            }
        }
    }
    .modal-footer {
        width: 100%;
        .btn {
            width: 49%;
        }
    }
}

// .btn {
//     display: inline-grid;
// }
// top: 50%;
// transform: translateY(-15%);
#dtBasicExample_filter {
    float: left;
    label {
        text-align: left;
        input {
            color: white;
            border: 0;
            outline: 0;
            background: $forth-color;
            width: 100%;
            margin-left: 2px;
            padding-left: 15px;
            caret-color: transparent;
            line-height: 40px;
            border-radius: 30px;
        }
    }
}

.fa-pen {
    font-size: 4rem;
    border-radius: 100%;
    padding: 1rem;
}

.pointer {
    cursor: pointer;
    font-weight: 300;
    font-size: 1rem;
}

.big-img {
    width: 100%;
    max-height: 20vh;
}

#payment-tab,
#user-information-tab {
    font-size: 1.5rem;
}

.fa-map-marker-alt {
    font-size: 2rem;
    padding: 0;
}

.fa-trash,
.fa-plus,
.fa-minus,
.fa-camera,
.fa-pen {
    font-size: 3.4rem;
    border-radius: 100%;
    padding: 0.9rem;
    height: auto;
    &:hover {
        background-color: rgba(116, 116, 116, 0.404);
    }
}

.nav-link {
    color: white;
    .active {
        background-color: $sec-color;
    }
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: $sec-color;
}

.list-group-item {
    background-color: $first-color;
    display: flex;
    justify-content: space-between;
    a {
        color: white;
    }
}